pyspark==3.5.1
delta-spark==3.1.0
apache-airflow==2.9.3
apache-airflow-providers-apache-spark==4.8.0
apache-airflow-providers-common-sql==1.14.0
PyYAML==6.0.1
pytest==8.2.0
chispa==0.10.1
great-expectations==0.18.16
